<main class="container">
  
  <%= link_to sanitize("&larr; Back to Qotes"),quotes_path%>

  <div class="header">
    <h1>New quote</h1>
  </div>


  <%# frame_id = dom_id(@quote, "name_turbo_frame")%>
  <%= turbo_frame_tag "new_turbo_frame" do%> 
    <%= render "form", quote: @quote%>
  <%end%>

</main>



