<% flash.each do |flash_type, message| %>
  <div class="flash__message" data-controller="removals" data-action="animationend->removals#remove">
    <%= message %>
    <h1>flash render layout: "layoutname"</h1>
  </div>

<% end %>
